<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portflio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"  >
</head>
<body class="b ">
<!-- navabr -->
<nav  >
    <ul class="navbars">
        <li>Home</li>
        <li>About</li>
        <li>Skills</li>
        <li>Education</li>
        <li > <a mat-button [routerLink]="['/login']">Login</a></li>
    </ul>
</nav>
<div class="row">
    <div class="col-6">
        <div class="p1">
            Hi There I am walid tlili 
            I am Into Web Developer 
        </div>
        <p class="p2" style="margin-right: 20px;">Sed ut perspiciatis unde omnis iste natus to voluptatem accusantium doloremque laudantium, totam rem aperiamc eaque ipsa quae ab illo inventore veritatis

        </p>
        <button class="b1">Hire Me ></button>
    </div>
    <div class="col-6">
        <div class="p1" style="margin-left: 170px;">
         
        <img src="assets\me.png" width="300px">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="p1">
            Let’s Explore Popular <br>
            <span style="color: #c9f31d;"> Skills & Experience</span> 
<p class="p2">Sed ut perspiciatis unde omnis iste natus to voluptatem accusantium doloremque laudantium, totam rem aperiamc eaque ipsa quae ab illo inventore veritatis

</p>
        </div>
        <button class="b1">Learn More ></button>
    </div>
    <div class="col-6  " style="margin-top: 90px;">
        <img src="assets\skills.png" width="600px">
    </div>
</div>

</body>
</html>