<div class="body">
    <div class="login-container">
        <div class="login-box">
            <div class="login-icon">
                <img src="assets\locked.png" alt="Lock Icon">
            </div>
            <h2>Login</h2>
            <form >
                <div class="input-group">
                    <input type="text" placeholder="Username" name="username" required >
                </div>
                <div class="input-group">
                    <input type="password" placeholder="Password"  name="password"  required >
                </div>
                     <button class="b1" type="button">Login </button>                                      
            </form>
        </div>
    </div>
 
</div>
