<div class="body">
    <div class="login-container">
        <div class="login-box">
            <div class="login-icon">
                <img src="assets\locked.png" alt="Lock Icon">
            </div>
            <h2>Login</h2>
            <form >
                <div class="input-group">
                    <input type="text" placeholder="Username" name="username" required [(ngModel)]="name">
                </div>
                <div class="input-group">
                    <input type="password" placeholder="Password"  name="password"  required  >
                </div>
                     <button class="b1" type="button">Login </button>     
                     <button class="b1" style="margin-left: 20px;" type="button"  mat-button [routerLink]="['/welcome',this.name]">Welcome </button>                                      
                                 
            </form>
            <p style="color: grey;">you don't have a Account <span ><a mat-button [routerLink]="['/register']"> Register</a></span> </p>
        </div>
        
    </div>
 
</div>
